:root {
  --color-white:#ffffff;
  --color-red:#f9004d;
  --color-black:#000000;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  background-color: #000000;
  /* font-family: cursive; */
  font-family: 'Comic Sans MS', 'Chalkboard SE', 'Comic Neue', sans-serif;
}